<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<display-name>webjjang_servlet</display-name>
	<welcome-file-list>
      <welcome-file>main.do</welcome-file>
    </welcome-file-list>

<!-- Servlet 등록: servlet, servlet-mapping -->
	<servlet>
		<description>Front Controller Servlet: Dispatcher Servlet</description>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>com.webjjang.main.controller.DispatcherServlet</servlet-class>
		<!-- 서버 실행시 DispatcherServlet 실행 -> init() 실행 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
			<servlet-name>DispatcherServlet</servlet-name>
			<url-pattern>*.do</url-pattern>
	</servlet-mapping>

<!-- 한글처리 -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>com.webjjang.util.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
<!-- 권한 처리 -->
	<filter>
		<filter-name>authority</filter-name>
		<filter-class>com.webjjang.util.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authority</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
<!-- 사이트매쉬 처리 -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<!-- 예외, 에러 처리
	 error-code: 브라우저에서 보이는 에러코드, 서버에서 처리한다.
	 exception-type: 500 Error의 경우, 포괄적인 Exception을 포함한다.
	 -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/404_noModule.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/500_noModule.jsp</location>
	</error-page>
	
</web-app>